<div class="container">
  <div class="container container-fluid">
    <div class="row">
      <div class="col-md-3">
          <div class="card" style="margin-top: 85px;width: 260px;">
              <div class="card-header card-header-danger">
                <div class="row">
                  <div class="col-md-6">
                    <h4 class="card-title">Unidades</h4>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <tbody>
                      <tr *ngFor="let unit of units | async">
                        <td class="col-sm-2 text-center">{{ unit.email }}</td>
                        <td class="col-sm-1 text-center">
                            <button mat-raised-button type="submit" class="btn btn-danger btn-xs" (click)="onShow(unit)" >
                              <i class="fa fa-map-marker"></i>
                            </button>
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> 
      </div>
      <div class="col-md-9">
          <div id="map" style="width: 860px;"></div>
      </div>
    </div>
  </div>
</div>
<!-- /**
     * The JavaScript code that creates the firebase map goes between the empty script tags below.
     */ -->
