 .fondo {
    background: url("assets/img/login-bg.png");
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    width: 100%;
    height:100vh;
}

.loginpage{
    margin-left:auto;
    margin-right:auto;
}
.loginpage, .loginpage form label, .loginpage form, .loginpage .message {
    color: #213650;
    font-size: 12px;
    font-weight: bold;
}

.loginpage form .input, .loginpage form input[type=checkbox], .loginpage input[type=text] {
    color: #747474;
}

.btn.btn-accent {
    background: #7ec189;
}

img{
    height: 253px;
    width: 398px;
    margin-left:auto;
    margin-right:auto;
}
.myLabel {
    color: #213650;
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 30px;
}
