 .fondo {
    background: url("assets/img/login-bg.png");
    height: 100%;
    width: 100%;
}

.loginpage{
    margin-left:auto;
    margin-right:auto;
}
.loginpage, .loginpage form label, .loginpage form, .loginpage .message {
    color: #213650;
    font-size: 12px;
    font-weight: bold;
}

.loginpage form .input, .loginpage form input[type=checkbox], .loginpage input[type=text] {
    color: #747474;
}

.btn.btn-accent {
    background: #7ec189;
}

img{
    height: 253px;
    width: 398px;
    margin-left:auto;
    margin-right:auto;
}
/*.loginpage input[type=text] {
    border: 1px solid #99bacb !important;
}
footer.footer-documentation li a:hover,
footer.footer-documentation li a:focus{
    color: #7ec189 !important;
}*/