<div class="fondo">
  <div class="container-fluid">
    <div class="login-wrapper row">
        <div id="login" class="login loginpage col-lg-offset-4 col-md-offset-3 col-sm-offset-3 col-xs-offset-0 col-xs-12 col-sm-6 col-lg-4">
            <h1 style="text-align:center;">
              <img class="img" src="../assets/img/LOGO_6.svg" />
            </h1>
             <label class="myLabel"><strong>SAFER</strong></label>
            <form [formGroup]="formLogin" name="loginform" id="loginform" (ngSubmit)="singIn()">
                <p>
                    <label for="user_login">Usuario</label>
                    <input formControlName="username" type="text" id="txtUsuario" class="form-control" placeholder="Ingresar usuario" />
                </p>
                <p>
                    <label for="user_pass">Contraseña</label>
                    <input formControlName="password" type="password" id="txtContrasena" class="form-control" placeholder="Ingresar Contraseña" />
                </p>
                <p class="submit">
                    <!-- <input type="submit" name="wp-submit" id="wp-submit" class="btn btn-accent btn-block" value="Acceder"/> -->
                    <button [disabled]="forma.valid" name="wp-submit" id="wp-submit" class="btn btn-accent btn-block">Acceder</button>
                </p>
            </form>
        </div>
    </div>
  </div>
  <div >
      <footer class="footer">
          <div class="container-fluid">
              <div class="copyright pull-right">
                  &copy; 
                  2018 Desarrollado por 
                  <a href="https://www.reactsoft.com" target="_blank">ReactSoft</a> Innvovación Reactiva.
              </div>
          </div>
      </footer>
  </div>
</div>