<div class="container">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="margin-top: 100px;">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Personal</h4>
                    <p class="card-category">Verificar Personal</p>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                          <div class="col-md-2">
                                <label for="selec_turno" style="
                                padding-top: 12px;">Seleccione una Zona:</label>
                          </div>
                          <div class="col-md-4">
                              <select name="cboTurno" class="form-control">
                                  <option value="manana">Mañana</option>
                                  <option value="tarde">Tarde</option>
                                  <option value="noche">Noche</option>
                                </select>
                          </div>
                          <div class="col-md-2">
                              <label for="selec_turno" style="
                              padding-top: 12px;">Seleccione un Horario:</label>
                            </div>
                            <div class="col-md-4">
                              <select name="cboTurno" class="form-control">
                                <option value="manana">Mañana</option>
                                <option value="tarde">Tarde</option>
                                <option value="noche">Noche</option>
                              </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="map"></div>
</div>