<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="margin-top: 100px;">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Horario</h4>
                        <p class="card-category">Verificar Horarios</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="selec_turno" style="
                                padding-top: 12px;">Seleccione
                                        un Turno:</label>
                                </div>
                                <div class="col-md-9">
                                    <select name="cboTurno" class="form-control">
                                        <option value="manana">Mañana</option>
                                        <option value="tarde">Tarde</option>
                                        <option value="noche">Noche</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="margin-top: 10px;">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Horario</h4>
                        <p class="card-category">Turno: Mañana</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Horario
                                    </th>
                                    <th>
                                        Días
                                    </th>
                                    <th>

                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            8:00 AM - 12:30 PM
                                        </td>
                                        <td>
                                            Lunes - Sabados
                                        </td>
                                        <td>
                                            <button mat-raised-button type="submit" class="btn btn-danger pull-left"
                                                (click)="submit();"><i class="fa fa-road"></i>&nbsp;&nbsp;Consultar
                                                Rutas</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            6:00 AM - 1:00 PM
                                        </td>
                                        <td>
                                            Lunes - Sabados
                                        </td>
                                        <td>
                                            <button mat-raised-button type="submit" class="btn btn-danger pull-left"
                                                (click)="submit();"><i class="fa fa-road"></i>&nbsp;&nbsp;Consultar
                                                Rutas</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            6:00 AM - 1:00 PM
                                        </td>
                                        <td>
                                            Lunes - Sabados
                                        </td>
                                        <td>
                                            <button mat-raised-button type="submit" class="btn btn-danger pull-left"
                                                (click)="submit();"><i class="fa fa-road"></i>&nbsp;&nbsp;Consultar
                                                Rutas</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>